body{
  background-image:-webkit-gradient(radial,50%,0,50%,100,color-stop(0%,#c5dc6c),color-stop(100%,#89b556));
background-image:-webkit-radial-gradient(center,#c5dc6c 0%,#89b556 100%);
background-image:-moz-radial-gradient(center,#c5dc6c 0%,#89b556 100%);
background-image:-o-radial-gradient(center,#c5dc6c 0%,#89b556 100%);
background-image:-ms-radial-gradient(center,#c5dc6c 0%,#89b556 100%);
background-image:radial-gradient(center,#c5dc6c 0%,#89b556 100%)

}

.span12{
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -webkit-box-shadow:0px 0px 6px rgba(0,0,0,0.6);
     -moz-box-shadow:0px 0px 6px rgba(0,0,0,0.6);
          box-shadow:0px 0px 6px rgba(0,0,0,0.6);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
.box_check_point{
  opacity: 0.5;
  box-shadow:0 0 4px rgba(0,0,0,0.5);
  -webkit-box-shadow:0 0 4px rgba(0,0,0,0.5);
  -moz-box-shadow:0 0 4px rgba(0,0,0,0.5);
  float: left;
  position: relative;
  height: 40px;
}
.box_check_point i{
  padding: 0 10px 0 0;
  color: #999;
  position: absolute;
  top: -10px;
  left: -8px;
  font-size: 57px;
}
.box_check_point.active{
  opacity: 1;
  background: #EFEFEF;
}
.box_check_point.disabled{
  color:#999;
}
.box_check_point.unlocked{
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.box_check_point.unlocked i{
  color: yellow;
  text-shadow:0px 0px 5px rgba(0,0,0,0.9);
  -webkit-text-shadow:0px 0px 5px rgba(0,0,0,0.9);
  -moz-text-shadow:0px 0px 5px rgba(0,0,0,0.9);
}
.box_check_point span{
  padding: 5px;
  display: inline-block;
  margin: 3px 0 0 50px;
  font-size: 17px;
}
.item_pista{
  background: #EFEFEF;
  border:1px solid #CCC;
  width: 100%;
  margin:10px auto 0 auto;
  float: left;
  -webkit-box-shadow:0 0px 4px rgba(0,0,0,0.3);
  -moz-box-shadow:0 0px 4px rgba(0,0,0,0.3);
  box-shadow:0 0px 4px rgba(0,0,0,0.3); 
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.item_pista.disabled{
  color:#888;
  opacity: 0.3;
}
.item_pista.enabled{
  border:1px solid #B2875C;
    background: #fefcea; /* Old browsers */
background: -moz-linear-gradient(top,  #fefcea 0%, #efe7b3 0%, #efde6b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(0%,#efe7b3), color-stop(100%,#efde6b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fefcea 0%,#efe7b3 0%,#efde6b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fefcea 0%,#efe7b3 0%,#efde6b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fefcea 0%,#efe7b3 0%,#efde6b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fefcea 0%,#efe7b3 0%,#efde6b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#efde6b',GradientType=0 ); /* IE6-9 */
box-shadow:0 0 5px #B2875C;
text-shadow:1px 1px 0px #FFF;
-moz-text-shadow:1px 1px 0px #FFF;
-webkit-text-shadow:1px 1px 0px #FFF;
}
.item_pista.enabled .icon{
  color:#8EB939;
}
.item_pista .icon{
  float: left;
  display: inline-block;
  width: 10%;
  text-align: center;
}
.item_pista .info_pista{
  width:75%;
  float: left;
  display: inline-block;
}
.padding_random{padding:10px;}
.btn_to_twitter{display: inline-block;margin:10px auto}
.box_link_twitter{
  margin:20px 0 0 0;
}
nav{
  color: #FFF;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  *background-color: #222222;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.best_nav a{
  color: #FFF;
  padding: 10px 20px;
  display: inline-block;
  font-size: 20px;
}
.best_nav a:hover{text-decoration: none;}
.best_nav a.active{color:#F08600;}
.best_nav a i{
  margin-right:5px;
}
header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  border-radius: none;
}

.box_twittear{
  border:1px solid #ccc;
  margin:10px;
  padding:10px;
  background:#f5f5f5;
}
.box_twittear textarea{
  display: block;
  width: 98%;
  padding: 1%;
}
.right{float:right;}
.box_history{
  background: #FFF;
  padding: 10px;
  border:1px solid #ccc;
}
.box_history h2{
  text-shadow:1px 1px 3px rgba(0,0,0,0.5);
  -webkit-text-shadow:1px 1px 3px rgba(0,0,0,0.5);
  -moz-text-shadow:1px 1px 3px rgba(0,0,0,0.5);
  border-bottom:1px solid #ccc;
  width: 100%;
  text-align: center;
  color:#FFF;
  margin: -10px 0 10px -10px;
  padding:0 10px;
  font-size:20px;
  background: #52afd8; /* Old browsers */
background: -moz-linear-gradient(top,  #52afd8 0%, #3084aa 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#52afd8), color-stop(100%,#3084aa)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #52afd8 0%,#3084aa 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #52afd8 0%,#3084aa 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #52afd8 0%,#3084aa 100%); /* IE10+ */
background: linear-gradient(to bottom,  #52afd8 0%,#3084aa 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52afd8', endColorstr='#3084aa',GradientType=0 ); /* IE6-9 */

}
.history_scroll{
  max-height:300px;
  overflow-y:auto;
  width: 100%;
  margin:0px 0 0 -10px;
}
.box_history li{
  list-style: none;
  display: block;
  padding: 5px 0;
  border-bottom: 1px solid #CCC;
  font-size: 12px;
}
.content_pistas .cont_checkin{width: 100%;margin:20px 0;}
.content_pistas .input_checkin{width: 83%}
.content_pistas .btn_checkin{width: 15%;}

/* Map Styling */
#map-content {
  padding: 0;
  position : absolute !important;
  top : 60px !important;
  right : 0;
  bottom : 10px !important;
  left : 0 !important;
}
#map_canvas{
  width: 95%;
  height: 100%;
  margin: 0 auto;
}
/* Responsive Styles*/
/*Hasta smartphones de 480px*/
@media (max-width: 480px) {
  body{padding:60px 10px 10px 10px;}
  .row-fluid [class*="span"]:first-child{padding: 10px;}
  .best_nav a{font-size: 13px;padding: 10px 25px;}
  .best_nav a i{font-size: 28px;}
  .best_nav a.btn_home{padding:10px 13px;}
  .best_nav a small{text-indent:-999em;display: none;}
  .box_twittear{padding:0;margin: 0;}
  .box_check_point span{font-size: 12px !important;margin: 7px 0 0 0px !important;width: 85px !important;}
  .box_check_point i{top: -15px !important;left: 35% !important;font-size: 30px !important;}
  .content_pistas .cont_checkin{margin:10px 0 !important;}
}

/*de Smartphones a Tablets*/
@media (max-width: 768px) {
  .span4.box_check_point{width: 30%;display: inline-block;margin: 0 2% 0 0;float: left;padding: 0px !important;}
  body{padding:60px 10px 10px 10px;}
  .best_nav a{padding:10px 15px;font-size: 14px;}
  .box_check_point span{font-size: 12px;margin: 7px 0 0 30px;width: 85px;}
  .box_check_point i{top: 5px;left: 4px;font-size: 30px;}
  .content_pistas .input_checkin{width: 70%}
  .content_pistas .btn_checkin{width: 26%;}
}
/*de Tablets a pantallas de desktops*/
@media (min-width: 768px) and (max-width: 980px) {
  body{padding:60px 20px 20px 20px;}
  .best_nav a{font-size: 17px;}
}

@media (min-width: 980px) and (max-width: 1200px) {
  body{padding:60px 20px 20px 20px;}
  .best_nav a{}
}

/*Pantallas anchas (desktops)*/
@media (min-width: 1200px){
  body{padding:60px 20px 20px 20px;}
  .best_nav a{}
}
